// color
$color-gray-tuna: #393c41;
$color-shark: #181b21;
$color-mercury: #e3e3e3;
$color-light: #fff;

// config
$color-dark: #000;
$border-radius: 20px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: $color-shark;
}

.content {
}
