extends _component/layout/base

block awesome-content
  include _component/background/background
  include _component/text/text

  - var { sectionList } = data.site

  each section in sectionList
    +superBg(section)
